<div class="edit-view">
    <% if @user.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="first-text">
        プロフィールを編集
    </div>
    <div class="form-body">
        <%= form_for(@user) do |f| %>
            <div class="form-group">
                <label>名前</label>
                    <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputName", placeholder:"名前を入力してください" %>
                <label>ひとこと</label>
                    <%= f.text_area :self_introduction, class:"form-control", id:"inputSelfIntroduction", placeholder:"例) ストリート系のファッションが好きなので、その系統のブランドをチェックしています。" %>
                <%= f.attachment_field :profile_image %>
                <div>
                    性別:
                    <%= f.label '男' %>
                    <%= f.radio_button :sex, :男 %>
                    <%= f.label '女' %>
                    <%= f.radio_button :sex, :女 %>
                </div>
            </div>                      
            <%= f.submit "変更を保存" %>
        <% end %>
    </div>
</div>
