<div class="container">
    <div class="top-prof">
        <div class="top-user-image">
            <%= attachment_image_tag @user, :profile_image, :fill, 30, 30, format: 'jpeg', class: "prof-image", fallback: "no-image.png" %>
        </div>
        <div class="top-user-name">
            <%= @user.name %>
        </div>
    </div>
    <div class="prof-detail">
        <div class="favorite-pin">
            <%= link_to user_path(current_user), class: "to-favorite-pin-button" do %>
                <i class="fas fa-heart">お気に入り</i>
            <% end %>
        </div>
        <div class="profile">
            <%= link_to info_user_path(current_user), class: "to-detail-prof-button" do %>
                <i class="fas fa-edit">プロフィール</i>
            <% end %>
        </div>
    </div>
    <div class="prof-container">
        <div class="prof-comment">
            <div class="text">ひとこと</div>
            <div class="userInfo_introduction"><%= @user.self_introduction %></div>
        </div>
        <div class='userAction'>
            <div class="userAction_edit userAction_common">
                <%= link_to "プロフィールを編集", edit_user_path %>
            </div>
            <div class='userAction_logout userAction_common'>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </div>
      </div>
    </div>
</div>
