<!DOCTYPE html>
<html>
  <head>
    <title>Clother</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue' %>
  </head> 
  <body>
     <% if user_signed_in? %>
        <header>
          <%= link_to products_path do %>
            <%= image_tag('clother-logo-fixed.png', class: "img-circle pull-left corpolate-logo", style: "height: 20px; width: 105.2px;") %>
          <% end %>
          <input type="text1" placeholder="キーワードを検索する" class="search-key">
          <ul　class="header-menu">
            <%= link_to products_path do %>
               <i class="fas fa-home fa-large"></i>
            <% end %>
            <%= link_to user_path(current_user) do %>
               <i class="fas fa-user fa-large"></i>
            <% end %>
          </ul>

        </header>
     <% end %>
     <% if flash[:notice] %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
     <% end %>
     <% if flash[:alert] %>
        <div class="alert alert-danger"><%= flash[:alert] %></div>
     <% end %>
     <%= yield %>
  </body>
</html>
